<mat-tab-group>
    <mat-tab label="Stack Area chart ">
        <app-stacked-area-chart [articlesData]="articlesData" [covidData]="covidData"></app-stacked-area-chart>
    </mat-tab>
    <mat-tab label="Nombre d'articles/cas par jour">
        <app-line-chart [articlesData]="articlesData" [covidData]="covidData"></app-line-chart>
    </mat-tab>
    <mat-tab label="Bar Chart">
        <app-bar-chart></app-bar-chart>
    </mat-tab>
    <mat-tab label="Subject Frequency">
        <app-subjects-frequency [articlesData]="articlesData"></app-subjects-frequency>
    </mat-tab>
</mat-tab-group>