<mat-divider></mat-divider>
<div class="summary">
  <div class="card">
    <div class="card-header">
      <h2>Nombre d'étudiants</h2>
    </div>
    <div class="card-body">
      <div class="card-body-content">
        <p class="big-text mat-color-primary">{{ nStudents }}</p>
      </div>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="card" id="introjs-average">
    <div class="card-header">
      <h2>Moyenne générale</h2>
    </div>
    <div class="card-body">
      <div class="card-body-content">
        <p *ngIf="data.length" class="big-text">
          {{ overallAverage.toFixed(2) }} %
        </p>
      </div>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="card" id="introjs-average-comments-summary">
    <div class="card-header">
      <h2>Commentaires</h2>
    </div>
    <div class="card-body">
      <div class="card-body-content">
        <app-comments-summary-view [data]="data"></app-comments-summary-view>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="general-view">
  <h2>Appréciation de l'apprentissage des étudiants</h2>
  <app-general-view
    [data]="data"
    id="introjs-main-visualisation"
  ></app-general-view>
</div>
<mat-divider></mat-divider>
<div class="comments">
  <h2>Les commentaires associés aux étudiants</h2>
  <div class="comments-table mat-elevation-z2">
    <table
      mat-table
      [dataSource]="tableDataSource"
      matSort
      matSortActive="name"
      matSortDirection="asc"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Étudiant</th>
        <td mat-cell *matCellDef="let row" class="mat-link">
          <a href="#" (click)="$event.preventDefault(); onClick(row)">{{
            row.studentName
          }}</a>
        </td>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Commentaire</th>
        <td mat-cell *matCellDef="let row">{{ row.comment }}</td>
      </ng-container>

      <!-- Stake Column -->
      <ng-container matColumnDef="stake">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Enjeu</th>
        <td mat-cell *matCellDef="let row">{{ row.stake }}</td>
      </ng-container>

      <!-- Sentiment Column -->
      <ng-container matColumnDef="sentiment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sentiment</th>
        <td mat-cell *matCellDef="let row">{{ row.sentiment }}</td>
      </ng-container>

      <!-- Course Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Matière</th>
        <td mat-cell *matCellDef="let row">{{ row.course }}</td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="[
          'studentName',
          'comment',
          'stake',
          'sentiment',
          'course'
        ]"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: ['studentName', 'comment', 'stake', 'sentiment', 'course']
        "
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Pas de données</td>
      </tr>
    </table>

    <mat-paginator
      [length]="totalCount"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of comments"
    ></mat-paginator>
  </div>
</div>
<mat-divider></mat-divider>
<div class="stakes">
  <h2>Les différents enjeux associés aux étudiants</h2>
  <app-stakes-view [data]="data" id="introjs-stakes"></app-stakes-view>
</div>
<mat-divider></mat-divider>
<div class="comparisons">
  <div class="card">
    <div class="card-header">
      <h2>Résultats par matière</h2>
    </div>
    <div class="card-body">
      <div id="course-comparison-wrapper" class="card-body-content">
        <app-course-comparison-view
          [data]="data"
          id="introjs-course-comparison"
        ></app-course-comparison-view>
      </div>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="card">
    <div class="card-header">
      <h2>Comparaison entre niveaux</h2>
    </div>
    <div class="card-body">
      <div class="card-body-content">
        <app-level-comparison-view
          [data]="data"
          id="introjs-level-comparison"
        ></app-level-comparison-view>
      </div>
    </div>
  </div>
</div>
