.tooltip {
  display: none;
  position: absolute;
  text-align: center;
  z-index: 10;

  color: #fff;
  border-radius: 4px;
  margin: 14px;
  max-width: 250px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
